<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Virginia Hospital Civil Cases</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <style>
            .court-name-row {
                cursor: pointer;
                padding: 2px 5px;
            }

            .case-row {
                padding: 2px 10px;
            }

            .case-ignore, .sub-case-ignore {
                font-size: 10px;
            }

            .sub-case {
                margin: 3px;
            }

            .additional-party {
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Virginia Hospital Civil Cases</a>
                </div>
            </div>
        </nav>

        <div class="container">
            {% if 'regions' in data %}
                {% for region in data.regions %}
                    <div><a href="/{{ region }}">{{ region }}</a></div>
                {% endfor %}
            {% endif %}

            {% if 'region' in data %}
                <div class="pull-right">
                    <div>{{ data.names_to_search_count }} Plaintiffs to Search</div>
                    <div onclick="loadSearchCompletionByCourt()">
                        {{ data.percent_searched }} complete ({{ data.searches_completed }} of {{ data.searches_to_complete }})
                    </div>
                </div>
                <h4>{{ data.region }}</h4>
                <button id="case-ignore-button" class="btn btn-link" onclick="toggleIgnoredCourtsVisibility()"></button>
                <div class="row">
                    <div class="col-xs-3">
                        <div id="court-name-container">
                            {% for court_name, court_details in data.courts|dictsort %}
                                <div class="court-name-row court-name-row-{{ court_details.full_name[:3] }} {% if court_details.case_count == 0 %}court-ignore{% endif %}" onclick="loadCourt('{{ data.region }}', '{{ court_details.full_name }}')">
                                    <div class="pull-right">{{ court_details.case_count }} <span class="percent-searched"></span></div>
                                    {{ court_name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-xs-9">
                        <div id="current-court-data"></div>
                    </div>
                </div>
            {% endif %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script>
            function loadCourt(region, court) {
                $('#current-court-data').html('<div class="text-muted">Loading...</div>');
                $.get('/' + region + '/first_level/' + court, function(data) {
                    $('#current-court-data').html(data.html);
                    $('#platiff-cases-total-to-load').html(data.second_level_case_names.length);
                    loadSecondLevelSearches(region, court, data.second_level_case_names);
                    toggleIgnoredVisibility(false);
                })
                .fail(function() {
                });
            }

            function loadSecondLevelSearches(region, court, names) {
                $('#platiff-cases-left-to-load').html(names.length);
                if(names.length == 0) {
                    return;
                }
                var selector = '.sub-case-' + names[0].replace(/,/g, '').replace(/\./g,'').replace(/ /g, '-');
                $.get('/' + region + '/second_level/' + names[0] + '/' + court, function(data) {
                    $(selector).each(function(){
                        $(this).html(data);
                        var caseFiled = $(this).parents('.case-row').data('filed');
                        var casePlaintiff = $(this).parents('.case-row').data('plaintiff');
                        $(this).find('.sub-case').each(function() {
                            var subCaseFilingType = $(this).data('filing-type');
                            if (subCaseFilingType == 'Divorce' ||
                                subCaseFilingType == 'Motor Vehicle' ||
                                subCaseFilingType == 'Reinstatement Of Driving Privileges' ||
                                subCaseFilingType == 'Encumber/Sell Real Estate' ||
                                subCaseFilingType == 'Appointment Of Guardian And/Or Conservator' ||
                                subCaseFilingType == 'Guardian Appointment' ||
                                subCaseFilingType == 'Writ Of Habeas Corpus' ||
                                subCaseFilingType == 'Asbestos Litigation' ||
                                subCaseFilingType == 'Expunge' ||
                                subCaseFilingType == 'Name Change') {
                                $(this).addClass('sub-case-ignore');
                            }
                            var subCasePlaintiff = $(this).data('plaintiff');
                            if(!namesCompletelyMatch(casePlaintiff, subCasePlaintiff)) {
                                console.log('Name mismatch: ' + casePlaintiff + ' | ' + subCasePlaintiff);
                                $(this).addClass('sub-case-ignore');
                            }
                        });
                    });
                    toggleIgnoredVisibility(ignoredVisibility);
                    loadSecondLevelSearches(region, court, names.slice(1));
                })
                .fail(function() {
                    $(selector).html('ERROR');
                    loadSecondLevelSearches(region, court, names.slice(1));
                });
            }

            function namesCompletelyMatch(name1, name2) {
                // Match name to middle initial if possible
                name1 = name1.split(';')[0].split('.')[0];
                name2 = name2.split(';')[0].split('.')[0];
                if(name1.split(' ').length < 3) return true;
                if(name2.split(' ').length < 3) return true;
                return name1.split(' ')[2].charAt(0) == name2.split(' ')[2].charAt(0);
            }

            var court_names = [
                {% if 'region' in data %}
                    {% for court_name, court_details in data.courts|dictsort %}
                        '{{ court_details.full_name }}',
                    {% endfor %}
                {% endif %}
            ];

            var completionByCourtLoaded = false;
            function loadSearchCompletionByCourt() {
                if(completionByCourtLoaded) return;
                completionByCourtLoaded = true;
                loadSearchCompletionByCourtNext(court_names);
            }

            function loadSearchCompletionByCourtNext(courts) {
                if(courts.length === 0) {
                    return;
                }
                $.get('/{{ data.region }}/searches_completed/' + courts[0], function(data) {
                    console.log(data);
                    console.log(courts[0].slice(0,3));
                    $('.court-name-row-' + courts[0].slice(0,3) + ' .percent-searched').html(data.percent_searched);
                    loadSearchCompletionByCourtNext(courts.slice(1));
                })
            }

            var ignoredVisibility = true;
            function toggleIgnoredVisibility(visible) {
                if(visible === undefined) {
                    visible = !ignoredVisibility;
                }

                if(visible) {
                    $('.case-ignore').show();
                    $('.sub-case-ignore').show();
                    $('.sub-case-same-court').show();
                    $('#ignore-button').html('Hide Hidden Cases');
                    ignoredVisibility = true;
                } else {
                    $('.case-ignore').hide();
                    $('.sub-case-ignore').hide();
                    $('.sub-case-same-court').hide();
                    $('#ignore-button').html('Show Hidden Cases');
                    ignoredVisibility = false;
                }
                $('.case-row:visible:even').css({'background-color': '#eee'});
                $('.case-row:visible:odd').css({'background-color': '#fff'});
            }

            var ignoredCourtVisibility = true;
            function toggleIgnoredCourtsVisibility(visible) {
                if(visible === undefined) {
                    visible = !ignoredCourtVisibility;
                }

                if(visible) {
                    $('.court-ignore').show();
                    $('#case-ignore-button').html('Hide Courts With No Cases');
                    ignoredCourtVisibility = true;
                } else {
                    $('.court-ignore').hide();
                    $('#case-ignore-button').html('Show Courts With No Cases');
                    ignoredCourtVisibility = false;
                }
                $('.court-name-row:visible:even').css({'background-color': '#eee'});
                $('.court-name-row:visible:odd').css({'background-color': '#fff'});
            }

            (function() {
                toggleIgnoredCourtsVisibility(false);
            })();
        </script>
    </body>
</html>
