{% for case in cases|sort(attribute='court_name_short') %}
    <div class="sub-case{% if case.details.ignore %} sub-case-ignore{% endif %}{% if case.details.same_court %} sub-case-same-court text-muted{% endif %}"
            data-plaintiff="{{ case.details.Plaintiff }}"
            {% if 'Filed' in case.details %} data-filed="{{ case.details.Filed.strftime('%Y-%m-%d') }}"{% endif %}
            {% if 'FilingType' in case.details %} data-filing-type="{{ case.details.FilingType }}"{% endif %}>
        <div>
            <span>{{ case.court_name_short }}<span>
            <small class="text-muted">{{ case.details.caseNumber }}</small>
            <span>
                {% if 'FilingType' in case.details %}
                    {{ case.details.FilingType}}
                {% endif %}
            </span>
            <span class="text-muted">
                {% if 'Filed' in case.details %}
                    {{ case.details.Filed.strftime('%Y-%m-%d') }}
                {% endif %}
            </span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div>{{ case.details.Plaintiff }}</div>
                {% for plaintiff in case.details.Plaintiffs %}
                    {% if plaintiff != case.details.Plaintiff %}
                        <div class="additional-party">{{ plaintiff }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-xs-6">
                <div>{{ case.details.Defendant }}</div>
                {% for defendant in case.details.Defendants %}
                    {% if defendant != case.details.Defendant %}
                        <div class="additional-party">{{ defendant }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
