<h4>{{ data.court_name }}</h4>

{% for case in data.civil_cases %}
    <div class="row case-row {% if case.ignore %}case-ignore{% endif %}">
        <div class="col-xs-6">
            <div>{{ case.partyType }} {{ case.name }}</div>
            <div>
                <small class="text-muted">{{ case.caseNumber }}</small>
                <span class="{{case.caseNumber}}-filing-type">{{ case.FilingType }}</span>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div>
                <span>{{ case.otherName }}</span>
            </div>
            <div class="text-muted"><small>{{ case.status }}</small></div>
        </div>
        <div class="col-sm-10 col-sm-offset-2 sub-cases-{{ case.caseNumber }}">
            <div class="info"></div>
            <div class="results"></div>
        </div>
    </div>
{% else %}
    <div class="text-muted">No civil cases found</div>
{% endfor %}
