<button id="ignore-button" class="btn btn-link pull-right" onclick="toggleIgnoredVisibility()"></button>
<h4>
    {{ data.court_name }}
    <small class="text-muted">
        <span id="platiff-cases-left-to-load">0</span>
        of
        <span id="platiff-cases-total-to-load">0</span>
        plaintiff cases to load
    </small>
</h4>
{% for case in data.civil_cases %}
    <div class="row case-row {% if case.ignore %}case-ignore{% endif %}"
        {% if 'Filed' in case %} data-filed="{{ case.Filed.strftime('%Y-%m-%d') }}"{% endif %}>
        <div class="col-xs-6">
            <div>{{ case.partyType }} {{ case.name }}</div>
            <div>
                <small class="text-muted">{{ case.caseNumber }}</small>
                <span class="{{case.caseNumber}}-filing-type">{{ case.FilingType }}</span>
                <span class="text-muted">{% if 'Filed' in case %}{{ case.Filed.strftime('%Y-%m-%d') }}{% endif %}</span>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <div>
                <span>{{ case.otherName }}</span>
            </div>
            <div class="text-muted"><small>{{ case.status }}</small></div>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <div class="info"></div>
            {% if 'plaintiff_name' in case %}
                <div class="sub-case-{{ case.plaintiff_name }}">
                    Loading Plaintiff's Cases...
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="text-muted">No civil cases found</div>
{% endfor %}
