{% for case in cases|sort(attribute='court_name_short') %}
    <div class="sub-case{% if case.details.ignore %} sub-case-ignore{% endif %}{% if case.details.same_court %} sub-case-same-court text-muted{% endif %}">
        <div>
            <span>{{ case.court_name_short }}<span>
            <small class="text-muted">{{ case.details.caseNumber }}</small>
            <span>
                {% if 'FilingType' in case.details %}
                    {{ case.details.FilingType}}
                {% endif %}
            </span>
            <span class="text-muted">
                {% if 'Filed' in case.details %}
                    {{ case.details.Filed.strftime('%Y-%m-%d') }}
                {% endif %}
            </span>
        </div>
        <div>
            {{ case.details.Plaintiff }}
            <span class="party-separator">v</span>
            {{ case.details.Defendant }}
        </div>
    </div>
{% endfor %}
