<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search {{ data.name }}</title>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56808528-1', 'auto');
    ga('send', 'pageview');
</script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .row {
        padding: 5px;
    }

    .row:nth-child(even) {
        background: #eee;
    }

    .sub-case {
        margin: 5px;
    }

    .navbar {
        border-radius: 0px;
    }

    .footer {
        margin-top: 50px;
    }
</style>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VA Circuit Court Statewide Search</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Search {{ data.name }}</h1>
    <div id="search-active">
        <div>
            Searching <span id="countSearched"></span> of <span id="countTotal"></span> courts - Grab a cup of coffee, this may take a while...
        </div>
        <div>
            <button id="stop-search-button" class="btn btn-danger">Stop Search</button>
        </div>
    </div>

    {% for court in data.courts %}
        <div id="{{ court.id }}">
            <h2>{{ court.name }}</h2>
            <div class="search-result">
		{% if 'civilCases' in court %}
			{% include "court.html" %}
		{% else %}
                	<div class="text-muted search-pending"><i class="fa fa-spinner fa-spin"></i> Loading</div>
		{% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="footer">
    <p class="pull-right">
        Built by <a href="http://code4hr.org">Code for Hampton Roads</a> | <a href="https://github.com/Code4HR/va-circuit-court-search"><i class="icon-github"></i> Pull requests welcome!</a>
    </p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script>
    var name = {{ data.name|tojson|safe }};
    var courts = {{ data.courts|tojson|safe }};
    var courtCount = courts.length;
    var stopSearch = false;

    $('#countTotal').text(courtCount);

    $('#stop-search-button').on('click', function() {
       stopSearch = true;
       $(this).prop("disabled", true);
       $('.search-pending').html('Canceled');
    });

    function courtSearch(delaySearch) {
        if(courts.length < 1 || stopSearch) {
            $("#search-active").hide();
            return;
        }

        court = courts[0];
        courts.shift();

        $('#countSearched').text(courtCount - courts.length);

    	if('civilCases' in court) {
    		courtSearch();
    	} else {
	        setTimeout(function() {
	            $.get('/search/' + name + '/court/' + court.fullName, function(data) {
                    console.log(data);
	                var selector = '#' + court.id + ' .search-result';
	                $(selector).html(data.html);
                    var delayNextSearch = !data.cached;
                    searchOtherParty(court, data.civilCases, selector, function() {
                        courtSearch(delayNextSearch);
                    });
	            })
	            .fail(function() {
	                var retryFunction = "retry('" + court.fullName + "','" + court.id + "')";
	                $('#' + court.id + ' .search-result').html('<div>Error</div><div><button class="btn" onclick="' + retryFunction + '">Retry</button></div>');
                    courtSearch(true);
	            })
	        }, delaySearch ? 1000 : 0);
    	}
    }

    function retry(fullName, id) {
        $('#' + id + ' .search-result').html('<div class="text-muted"><i class="fa fa-spinner fa-spin"></i> Loading</div>');
        courts.unshift({'fullName': fullName, 'id': id});

        if(courts.length == 1 || stopSearch) {
            stopSearch = false;
            courtSearch();
        }
    }

    var allCourts = {{ data.courts|tojson|safe }};
    var namesSearched = [];

    function searchOtherParty(court, civilCases, htmlSelector, callback) {
        var namesToSearch = [];
        var caseDetailsToCollect = [];
        for(var i=0; i<civilCases.length; i++) {
            var curCase = civilCases[i];
            if(curCase.Defendant.indexOf(name) == 0) {
                var plaintiffNameParts = curCase.Plaintiff.split(' ');
                if(plaintiffNameParts.length > 1 && plaintiffNameParts[0].slice(-1) == "," && curCase.Plaintiff.indexOf('COUNTY OF') == -1) {
                    caseDetailsToCollect.push({
                        court: court,
                        caseNumber: curCase.caseNumber
                    });
                    var platiffName = plaintiffNameParts[0] + ' ' + plaintiffNameParts[1];
                    if(!platiffName.slice(-1).match(/[a-z]/i)) {
                        platiffName = platiffName.slice(0, -1);
                    }
                    if(namesSearched.indexOf(platiffName) == -1) {
                        console.log('Search ' + platiffName);
                        namesToSearch.push({
                            name: platiffName,
                            selector: htmlSelector + ' .' + curCase.caseNumber
                        });
                        namesSearched.push(platiffName);
                    }
                }
            }
        }

        getCaseDetails(caseDetailsToCollect, function(){
            courtSearch2(namesToSearch, allCourts, true, callback);
        });
    }

    function getCaseDetails(cases, callback, delaySearch) {
        if(cases.length < 1 || stopSearch) {
            callback();
            return;
        }

        var curCase = cases[0];
        setTimeout(function() {
            $.get('/case/' + curCase.caseNumber + '/court/' + curCase.court.fullName, function(data) {
                console.log(data);
                $('.' + curCase.court.id + '-' + curCase.caseNumber + '-filing-type').html(data.FilingType);
                getCaseDetails(cases.slice(1), callback, !data.cached);
            })
            .fail(function() {
                getCaseDetails(cases.slice(1), callback, true);
            });
        }, delaySearch ? 1000 : 0);
    }

    function courtSearch2(namesToSearch, remainingCourts, delaySearch, callback) {
        if(namesToSearch.length < 1 || stopSearch) {
            callback();
            return;
        }

        if(remainingCourts.length < 1) {
            courtSearch2(namesToSearch.slice(1), allCourts, true, callback);
            return;
        }

        setTimeout(function() {
            $.get('/search/' + namesToSearch[0].name + '/court/' + remainingCourts[0].fullName, function(data) {
                console.log(data);
                if(remainingCourts.length > 1) {
                    $(namesToSearch[0].selector + ' .info').html((remainingCourts.length - 1) + ' left to search');
                } else {
                    $(namesToSearch[0].selector + ' .info').html('');
                }
                for(var i=0; i<data.civilCases.length; i++) {
                    var html = '<div class="sub-case"><div>';
                    html += data.name;
                    html += ' <small class="text-muted">';
                    html += data.civilCases[i].caseNumber;
                    html += '</small></div><div>';
                    html += data.civilCases[i].Plaintiff;
                    html += '   v   ';
                    html += data.civilCases[i].Defendant;
                    html += '</div></div>';
                    $(namesToSearch[0].selector + ' .results').append(html);
                }
                courtSearch2(namesToSearch, remainingCourts.slice(1), !data.cached, callback);
            })
            .fail(function() {
                courtSearch2(namesToSearch, remainingCourts.slice(1), true, callback);
            })
        }, delaySearch ? 1000 : 0);
    }

    courtSearch();
</script>
